<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<context-param>
		<param-name>oauth.rs.provider-class</param-name>
		<param-value>org.kvj.lima1.pg.sync.data.OAuthFilterProvider</param-value>
	</context-param>
	<context-param>
		<param-name>oauth.rs.tokens</param-name>
		<param-value>QUERY</param-value>
	</context-param>
	<filter>
		<filter-name>OAuthFilter</filter-name>
		<filter-class>org.apache.amber.oauth2.rsfilter.OAuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>OAuthFilter</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>DB</servlet-name>
		<servlet-class>org.kvj.lima1.pg.sync.DBConnectionServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Token</servlet-name>
		<servlet-class>org.kvj.lima1.pg.sync.OAuthTokenServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Schema</servlet-name>
		<servlet-class>org.kvj.lima1.pg.sync.rest.SchemaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>In</servlet-name>
		<servlet-class>org.kvj.lima1.pg.sync.rest.InServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Out</servlet-name>
		<servlet-class>org.kvj.lima1.pg.sync.rest.OutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Upload</servlet-name>
		<servlet-class>org.kvj.lima1.pg.sync.rest.UploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Download</servlet-name>
		<servlet-class>org.kvj.lima1.pg.sync.rest.DownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RemoveFile</servlet-name>
		<servlet-class>org.kvj.lima1.pg.sync.rest.RemoveFileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Backup</servlet-name>
		<servlet-class>org.kvj.lima1.pg.sync.rest.BackupServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Restore</servlet-name>
		<servlet-class>org.kvj.lima1.pg.sync.rest.RestoreServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Ping</servlet-name>
		<servlet-class>org.kvj.lima1.pg.sync.rest.PingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminUserInfo</servlet-name>
		<servlet-class>org.kvj.lima1.pg.sync.rest.admin.users.UserInfo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminUserList</servlet-name>
		<servlet-class>org.kvj.lima1.pg.sync.rest.admin.users.UserList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminUpdateUser</servlet-name>
		<servlet-class>org.kvj.lima1.pg.sync.rest.admin.users.UpdateUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminTokenList</servlet-name>
		<servlet-class>org.kvj.lima1.pg.sync.rest.admin.users.TokenList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminDeleteToken</servlet-name>
		<servlet-class>org.kvj.lima1.pg.sync.rest.admin.users.DeleteToken</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminAppsList</servlet-name>
		<servlet-class>org.kvj.lima1.pg.sync.rest.admin.apps.AppsList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminAddApp</servlet-name>
		<servlet-class>org.kvj.lima1.pg.sync.rest.admin.apps.AddApp</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminUpdateApp</servlet-name>
		<servlet-class>org.kvj.lima1.pg.sync.rest.admin.apps.UpdateApp</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminGetStats</servlet-name>
		<servlet-class>org.kvj.lima1.pg.sync.rest.admin.data.GetStats</servlet-class>
	</servlet>
			<servlet-mapping>
		<servlet-name>Token</servlet-name>
		<url-pattern>/token</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Schema</servlet-name>
		<url-pattern>/rest/schema</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>In</servlet-name>
		<url-pattern>/rest/in</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Out</servlet-name>
		<url-pattern>/rest/out</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ping</servlet-name>
		<url-pattern>/rest/ping</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Backup</servlet-name>
		<url-pattern>/rest/backup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Restore</servlet-name>
		<url-pattern>/rest/restore</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/rest/file/upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Download</servlet-name>
		<url-pattern>/rest/file/download</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveFile</servlet-name>
		<url-pattern>/rest/file/remove</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminUserInfo</servlet-name>
		<url-pattern>/rest/admin/users/info</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminUserList</servlet-name>
		<url-pattern>/rest/admin/users/list</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminUpdateUser</servlet-name>
		<url-pattern>/rest/admin/users/info/update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminTokenList</servlet-name>
		<url-pattern>/rest/admin/tokens/list</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminDeleteToken</servlet-name>
		<url-pattern>/rest/admin/tokens/remove</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminAppsList</servlet-name>
		<url-pattern>/rest/admin/apps/list</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminAddApp</servlet-name>
		<url-pattern>/rest/admin/apps/add</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminUpdateApp</servlet-name>
		<url-pattern>/rest/admin/apps/update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminGetStats</servlet-name>
		<url-pattern>/rest/admin/data/stat</url-pattern>
	</servlet-mapping>
			<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
